{% extends 'main_app/base.html' %}

{% block title %}
TANK FOOTBALL GAME
{% endblock title %}

{% block content %}

<!--    <h1>Comment FORM</h1>-->
<div class="form_box">
    <form class='form-for-comments' method="post" target="area">
        {% csrf_token %}
        {{ form.form_name }}
        {{ form.message }}
        <!-- enctype="multipart/form-data" action="" target="area" autocomplete="off"> -->
        <!-- <input class="form_input_class" type="text" name="" value="" placeholder="Имя" autofocus><Br><Br>
        <textarea class="form_input_class" type="text" name="comment" cols="100%" rows="3" placeholder="Сообщение"></textarea><Br> -->
        <input class="bttn-fill bttn-md bttn-warning" type="submit" value="Ответить">
        <input class="bttn-fill bttn-md bttn-warning" type="reset" value="Очистить">
    </form>
    <div id="messages_window">
        {% if all_messages_form %}
        {% for message in all_messages_form %}
            <div class="one_message">
                <p id="date">{{ message.date }}</p>
                <h3>{{ message.form_name }}</h3>
                <p>{{ message.message }}</p>
                <span> {{ error }}</span>
<!--                <a href="{% url 'message-detail' message.id %}" class=""> Читать детальнее</a>-->
            </div>
        {% endfor %}
    {% else %}
        <p>Нет сообщений</p>
    {% endif %}
    </div>
    <!-- <iframe class="area" name="area" width="100%" height="60%"></iframe> -->
</div>

<script>
    var scrollObj = document.querySelector("#messages_window");
    scrollObj.scrollTop = scrollObj.scrollHeight - scrollObj.clientHeight;
</script>

{% endblock content %}
