@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

:root {
	--main-yellow-color: #ffcc00;
	--main-orange-color: #feab3a;
	--main-light-blue-color: #33ADFF;
  }

  
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans Condensed', sans-serif;
}

/* html, body {
	width: 100%;
	height: 100%;
} */

.container {
	width: 90%;
    aspect-ratio: 1.62/1;
	/* display: block; */

	margin: 1% auto 1% auto;
    /* position: absolute; */
	
	/* top: 50%;
	left: 50%; */

    /* margin-left: -45%;
	margin-right: auto;
	margin-top: -30%;
	margin-bottom: auto; */
}

.content_window {
	width: 100%;
	height: 100%;

	/* background: linear-gradient(70deg, blue, pink);*/
	animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {background: blue bottom right/50px 50px;}
}

.menu {
	width: 100%;
	/* position: absolute; */
	/* margin-top: -25px; */
	padding-bottom: 0.55%;
/* }
.menu:hover { */
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.menu:hover { 
	animation: shake2 1s;
	animation-iteration-count: infinite;
}

@keyframes shake2 {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.menu ul {
	/* text-align: center; */
	list-style: none;
}

.menu li {
	display: inline-block;
	/* margin: 0 15px; */
}

/* .menu li:first-child{
	margin-left: 0;	
	float:inline-start;
}

.menu li:last-child{
	margin-right: 0;	
	float:inline-end;
} */

.menu a {
	background-color: #33ADFF;
	color: #fff;
	font-size: 16px;
	/* color: inherit; */
	/* cursor: pointer; */
	opacity: 0.9;
	
	text-align: center;
	font-weight: bold;

	display:block;
	width: 135px;
	min-width: 100px;

	/* margin-left: 10px; */
	/* padding: 5px; */
	text-decoration: none;
	
	
	
	/* transition: .5s linear; */
}

.menu a:hover{
	opacity: 1;
	background-color: var(--main-yellow-color);
}

.container_for_game {
	width: 95%;
	height: 95%;
	position:relative;
	top: 4%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	/* padding-bottom: 2%; */
}

h1 {
	/*  margin-top: ;*/
	color: white;
	text-align: center;
	}

/*first_options for button*/

div[class=box-2] {
	padding-top: 40px;
	height: 33.33%;
	width: 100%; 
	display: flex;
	justify-content: center;
	align-items: center;
}


.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 350px;
	cursor: pointer;
	top:100%;
}

.btn-two {
	color: #FFF;
	transition: all 0.5s;
	position: relative; 
}

.btn-two a {
	color: white;
	text-decoration: none;
	z-index: 2; 
	display: block;
	position: absolute;
	width: 100%;
	height: 100%; 
}
.btn-two::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);

}
.btn-two:hover::before {
	transform: rotate(-45deg);
	background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
	transform: rotate(45deg);
	background-color: rgba(255,255,255,0);
}

/*second_options for button*/

/*.btn-two:after {
  opacity: 0;
  background-image: -webkit-linear-gradient( transparent 50%, rgba(101,179,122,0.2) 50%);
  background-image: -moz-linear-gradient(transparent 50%, rgba(101,179,122,0.2) 50%);
  background-size: 10px 10px;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
.btn-two:hover:after {
  height: 600% !important;
  left: -90px;
  top: -30px;
  opacity: 1;
  color: #FFF;
}*/


/*canvas {
	margin-top: 10;
	background-color: #9999;
	position: absolute;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;

}*/

canvas {
	display: block;
	margin: 0 auto;
	width: 100%;
	background-color: #9999;
}

.upper_slider_news {
	display: block;
	color: white;
	text-shadow: 1px 1px 2px black;
	/* width: 100%; */
	/* font-size: 16px; */
	/* height: 3.2%; */
	background-color: #ffcc00;
	margin-bottom: 0.55%;
}

.one_message {
	background-color: #ffcc00;
	margin: 1% 1% 1% 1%;
	padding: 1% 1% 1% 1%;
	word-wrap: break-word;
	border-style:solid;
	border-color: #FFF;
   	border-radius: 20px;

}





#date {
	text-align: right;
}

.form_box {
	display:grid;
	/* position:sticky; */
	width: 90%;
	height: 100%;
	/* background-color: #33ADFF; */
	/* top:1%;
	left:5%; */
	/* margin-top: 1%; */
	margin: auto auto auto auto;
	padding-top: 5%;
}

.form_input_class {
	/* display: block; */
	width: 100%;
	/* height: 20%; */
	/* line-height: 40px; */
	font-size: 100%;
   	border-width: 5px;
	border-style:solid;
	border-color: #FFF;
   	border-radius: 5px;

	/* margin-top: 1%; */
	margin-bottom: 2%;

	/* background:-webkit-gradient(left top, right top, color-stop(0%, #bc3220), color-stop(29%, #db4a37), color-stop(50%, #db4a37), color-stop(71%, #db4a37), color-stop(100%, #bc3220)); */
	/* background:-webkit-radial-gradient(30% 100%,#c61801, #ff4603); */
}

.form_input_class::-webkit-input-placeholder  {
	color: var(--main-light-blue-color);
	text-indent: 0px;   
	transition: text-indent 0.3s ease;
}

.form_input_class:focus::-webkit-input-placeholder   {
	text-indent: 94%; 
	transition: text-indent 0.3s ease;
}

#messages_window {
    /* display: block; */
	/* position: relative; */
	margin: 2.8% auto 10% auto;
	width: 100%;
	height: 80%;
	/* float:left; */
	/* max-height: 80%; */
	/* aspect-ratio: 3/1; */
	background-color: white;
	/* opacity:80%; */
	overflow: scroll;
	border-width: 10px;
	border-style:solid;
	border-color: #FFF;
   	border-radius: 5px;
}

.info.hidden {
	display: none;
	/* visibility: hidden; */
}
/* .info {
	display:block;
	width: 100%;
	height: 5%;
}

.info__content{
	color:yellow;
	font-size: 200%;
}
#msg-box {
	color:black;
	font-size: 200%;
} */
#ball_div {
	position: absolute;
	width: 300px;
	height: 300px;
	float:right;
	animation: 5s linear 0s normal none infinite running rot;

}

#ball_paragr {
	position: absolute;
	color: white;
	text-align: right;
	width: 270px;
	height: 270px;
	margin-top: 50%;
}

#ball_img {
	position: absolute;
	width: 150px;
	margin-top: 75px;
	margin-left: 75px;
    position: absolute;
	cursor: move;
	/* animation: 5s linear 0s normal none infinite running rot; */
}

/* #ball_img:hover {
	animation: 5s linear 0s normal none infinite running rot;
} */

@keyframes rot {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }